{% extends 'base.html.twig' %}

{% block schema %}https://schema.org/ItemPage{% endblock %}

{% block nav_contextual %}
    Een <strong>life coach</strong> sessie op
    <a href="{{ path('contact') }}" title="{{ label('contact') }}">locatie</a> in <strong>Leeuwarden</strong>.
{% endblock %}

{% block main %}
    &laquo;Hier volgt nog inhoud&raquo;
{% endblock %}
