{% extends 'base.html.twig' %}

{% block schema %}https://schema.org/ItemPage{% endblock %}

{% block nav_contextual %}
    <strong>Wie ben ik?</strong> Laat me meer vertellen
    <a href="{{ path('over-mij') }}" title="{{ label('over-mij') }}">over mijzelf</a>
    en hoe ik je kan helpen.
{% endblock %}

{% block main %}
    &laquo;Hier volgt nog inhoud&raquo;
{% endblock %}
