{% extends 'base.html.twig' %}

{% block schema %}https://schema.org/AboutPage{% endblock %}

{% block nav_contextual %}
    Wil je weten hoe anderen mijn hulp hebben <strong>ervaren</strong>?
    Lees hun <a href="{{ path('reviews') }}" title="{{ label('reviews') }}">beoordelingen</a>.
{% endblock %}

{% block main %}
    &laquo;Hier volgt nog inhoud&raquo;
{% endblock %}
