{% extends 'base.html.twig' %}

{% block schema %}https://schema.org/ItemPage{% endblock %}

{% block main %}
    {{ h1('Reiki') }}

    <figure class="quote">
        <blockquote>
            <p>Hoe een traject eruit komt te zien, verschilt uiteraard per persoon.
            Iedere vrouw is uniek en dat geldt ook voor de aanpak.
            Maar wanneer de bron van de klacht bekend is, help ik je ook graag
            door middel van Reiki.
            Reiki is werken met universele energie.
            Jouw lichaam is eigenlijk één grote energiebol.
            Energie die in verbinding staat met je lichaam en geest.
            Wanneer je niet lekker in je vel zit, is de kans groot dat je
            energiestroom in je lichaam geblokkeerd is geraakt.
            Door middel van speciale handoplegging geef ik energie door en
            herstel de doorstroming. Jij als persoon en je energiebalans worden
            hierdoor versterkt.</p>
        </blockquote>
    </figure>

    <p>
        <em>
            Wat is Reiki? Wat kun je verwachten van Reiki en wat gebeurt er tijdens
            een behandeling?
        </em>
    </p>

    <p>
        Reiki is universele energie, ook wel
        <a href="https://nl.wikipedia.org/wiki/Qi_(concept)" target="_blank" rel="noreferrer">
            <dfn title="Vitale energie die wordt vastgehouden om het lichaam intern te bezielen en die van centraal belang is in sommige oosterse systemen van medische behandeling (zoals acupunctuur) en van lichaamsbeweging of zelfverdediging (zoals tai chi).">
                Chi</dfn>
        </a>
        genoemd. Reiki wordt meestal doorgegeven via de handen (handoplegging),
        maar het kan ook op afstand worden gedaan, door middel van
        <dfn title="Afstemmen op energie gebeurt door naar een foto, of een persoon in de ogen, te kijken.">afstemming</dfn>.
        Met Reiki heb ik de mogelijkheid het energieveld van een ander te
        beïnvloeden. Je kunt healing geven via Reiki.
        Tijdens een behandeling bij mij, lig je lekker comfortabel op een
        behandelbank en ik stop je lekker in onder een dekentje.
        Ik hoef je niet op de huid aan te raken.
    </p>

    {% include 'elements/hero.html.twig' with {
        id: 'reiki',
        alt: company.founder.givenName ~ ' met arm om schouders van partner'
    } %}

    <p>
        Ik stem af, en daarmee bedoel ik; dat ik mijn eigen energie reinig en me
        op die van jou afstem via mijn intuïtie.
        Ik voel dan wat jij voelt.
        Mijn handen laat ik over jouw lijf gaan, zoekende naar de plekken die
        aandacht nodig hebben.
        Het kan zijn dat ik bij je voeten begin, om je te laten gronden.
        Het kan zijn dat ik eerst bij je hoofd sta en
        <a href="https://nl.wikipedia.org/wiki/Ajna" target="_blank" rel="noreferrer">
            &ldquo;<dfn title="Met het derde oog">ziende</dfn>&rdquo;</a>
        scan.
        Sommige mensen leven zo in hun hoofd dat ze slecht contact hebben met hun lijf.
    </p>
    <p>
        Daarna volg ik mijn intuïtie, en controleer de
        <a href="https://nl.wikipedia.org/wiki/Chakra" target="_blank" rel="noreferrer">
            <dfn title="Chakra (Pali: chakka, Tibetaans: khorlo, Maleis: cakera) is in de traditionele Indiase cultuur een plaats in het veronderstelde energielichaam van de mens die binnen die traditie van belang worden geacht voor levenskracht.">chakra’s</dfn>
        </a>, en hoe ze draaien.
        Ik kan dat voelen, maar pak soms ook
        <a href="https://nl.wikipedia.org/wiki/Pendelen_(parapsychologie)" target="_blank" rel="noreferrer">
            een
            <dfn title="Met pendelen wordt bedoeld het beantwoorden van (levens)vragen met behulp van een pendel, een vaak druppelvormig metalen, glazen of houten voorwerp aan een draad of kettinkje.">
                pendel</dfn>
        </a>
        om het mij te laten zien.
        Door mijn Reiki, energie te sturen naar de juiste plekken, komen het
        lichaam en de chakra’s weer in balans.
        Als je met een specifieke klacht binnenkomt, ga ik daar natuurlijk ook
        checken.
        Ik stel in gedachten vragen terwijl ik mijn hand op de plek leg, en
        krijg antwoorden.
        Dit vertel ik allemaal na de behandeling aan jou.
    </p>
    <p>
        Soms is het mogelijk om pijn meteen te laten verzachten.
        Soms is daar meer voor nodig.
        Ik gebruik ook hulpmiddelen als edelstenen,
        <a href="https://www.spirituelewinkel.nl/blogs/spiritualiteit/auraspray/" target="_blank" rel="noreferrer">
            <dfn title="Een auraspray is gemakkelijk in gebruik en je kunt jezelf snel omgeven met de energie van de geurfrequentie van jouw keuze. Je auraveld en zintuigen nemen de auraspray in zich op en op deze manier kom je gemakkelijk terug in balans.">
                aura spray’s</dfn>
        </a>
        en
        <a href="https://nl.wikipedia.org/wiki/Etherische_olie" target="_blank" rel="noreferrer">
            <dfn title="Etherische olie is een uit plantmateriaal gewonnen mengsel van vluchtige, aromatische moleculen dat kenmerkend is voor de geur van de plant waaruit ze worden gewonnen.">
                etherische oliën</dfn>
        </a>.
    </p>
    <p>
        Ik geef Reiki door.
        Het is niet van mij.
        Ik neem niet jouw pijn over; ik geef het weer af aan
        <a href="https://nl.wikipedia.org/wiki/Moedergodin" target="_blank" rel="noreferrer">moeder aarde</a>.
        Door mijn
        <dfn title="Een kruin is het bovenste deel van het hoofd, dat gewoonlijk met haar bedekt is.">kruin</dfn>
        te openen en mijn voeten goed te laten
        <a href="http://www.spiritueel-woordenboek.nl/woordenboek/A/aarden_110/" target="_blank" rel="noreferrer">
            <dfn title="Aarden betekent in balans zijn met jezelf en de natuur.">aarden</dfn>
        </a>,
        <a href="https://nl.wikipedia.org/wiki/Universele_energie" target="_blank" rel="noreferrer">
            gaat <dfn title="de universele energie">het</dfn> stromen</a>.
    </p>

    {{ h2('Tarieven') }}
    <table class="products">
        <thead>
            <tr>
                <th>Behandeling</th>
                <th>Duur</th>
                <th>Prijs</th>
            </tr>
        </thead>
        <tbody>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">De intake - Kennismakingssessie</td>
                <td></td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="50">50,-</span>
                </td>
            </tr>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">Losse behandeling</td>
                <td>90 minuten</td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="95">95,-</span>
                </td>
            </tr>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">
                    Pakket: 6 behandelingen
                    <small>(Gratis intake)</small>
                </td>
                <td>6x 90 minuten</td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="520">520,-</span>
                </td>
            </tr>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">Telefonisch consult</td>
                <td>30 minuten</td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="35">35,-</span>
                </td>
            </tr>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">Reikibehandeling op afstand</td>
                <td>20 tot 30 minuten</td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="45">45,-</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <strong><abbr title="Nota bene">N.B.</abbr></strong>
                    Er wordt een behandelplan voorgesteld met een tussenpoos
                    tussen de behandelingen van 2 weken, tenzij anders nodig.
                </td>
            </tr>
        </tfoot>
    </table>

    {{ h2('Massage') }}

    <p>
        Mocht je zin hebben in een ontspannende massage, om even alles los te
        laten en te relaxen, dan kan ik je ook een massage geven met etherische
        oliën en reiki.
        De massage is op zichzelf al heerlijk, maar doordat ik “reiki” handen
        heb, zal ik automatisch je energie een boost geven.
    </p>
    <p>
        De oliën die ik gebruik zijn van
        <a href="https://www.doterra.com/NL/nl_NL/" target="_blank" rel="noreferrer">doTERRA</a>.
        Ik heb verschillende massage-oliën, waar bepaalde combinaties van de oliën in zitten.
        Deze geven allemaal een andere ondersteuning, en ik zal ze op mijn gevoel gaan gebruiken.
    </p>

    <p>
        Voor een massage verwacht ik dat je gedoucht bent, en je mag je slip aan
        houden, maar voor de rest wil ik graag je lichaam kunnen masseren.
        Trek iets aan dat makkelijk aan en uit kan en er tegen kan dat er na de
        massage nog olie op je huid zit.
        Ik zal jou afdekken met handdoeken en daarna ook drogen met de handdoeken,
        maar het kan zijn dat er restjes olie op je huid achterblijven.
        Een hele lichaamsmassage duurt ongeveer een uur.
        Je kan ook kiezen voor een rug- en nekmassage. Dat is dan een half uur
        Er is een mogelijkheid voor alleen je voeten en benen. Dit is ook een half uur.
    </p>

    <table class="products">
        <thead>
            <tr>
                <th>Soort massage</th>
                <th>Duur</th>
                <th>Prijs</th>
            </tr>
        </thead>
        <tbody>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">Hele lichaam</td>
                <td>&plusmn; 60 minuten</td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="70">70,-</span>
                </td>
            </tr>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">Rug &amp; nek</td>
                <td>&plusmn; 30 minuten</td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="35">35,-</span>
                </td>
            </tr>
            <tr itemscope itemtype="https://schema.org/Product">
                <td itemprop="name">Voeten &amp; benen</td>
                <td>&plusmn; 30 minuten</td>
                <td itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="EUR">&euro;</span>
                    <span itemprop="price" content="35">35,-</span>
                </td>
            </tr>
        </tbody>
    </table>

    {% include 'elements/diplomas.html.twig' with { diplomas: diplomas } %}
{% endblock %}
