{% block footer_service %}
<div id="service">
    <h2>Service & Contact</h2>
    {#            TODO: Finish styling#}
    <a href="mailto:{{ company.email.address }}">Stuur een e-mail</a>
</div>
{% endblock %}
