{% block nav %}
    <a href="{{ path(_route) }}#" target="_self" rel="noopener nofollow" title="Sluit menu"><span class="hidden-sm">Sluit menu</span></a>
    {% for id in nav.links %}
        <a href="{{ path(id) }}"
           title="{{ label(id) }}"
           {% if id == _route %}class="active" aria-current="page"{% endif %}
        >
            {{- label(id) -}}
        </a>
    {% endfor %}
{% endblock %}
